

html{
  color: white;
  text-align: center;
  font-family: Tahoma;

}

body {
  margin:0px;
}


.container {
  background-color: lightblue;
  margin-right: 20%;
  margin-left: 20%;
  padding: 10px;
  width: 50vw;
  height: 100vh;
}

.rain {
  position: absolute;
}


.map{
  float: center;
}

.key{
  overflow: auto;
}
