

html{
  color: white;
  text-align: center;
  font-family: Tahoma;

}

body {
  margin:0px;
  overflow: hidden;
}


.container {
  margin-left: 25%;
  padding: 10px;
  width: 50vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
}

.rain {
  margin: auto;
  position: absolute;
}


.map{
  float: center;
}

.key{
  overflow: auto;
}
